/* These are variables in CSS */
:root {
    --left-container: #006699;
    --left-top-container: #FF6600;
    --left-inner-container: #FFCC00;

    --right-container: #666600;
    --right-top-container: #ff6633;
    --right-inner-container: #ffcc00;

}

/* Change everything below here for the assignment */

/* Left Container */

#left-container {
    background-color: var(--left-container);
    color: white;
    
}


#left-top-container {
    background-color: var(--left-top-container);
    padding-top: 5%;
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 6%;
    height: 50%;
    width: 50%;
}

#left-bottom-container {
    background-color: var(--left-top-container);
    padding-top: 5%;
    padding-left: 5%;
    margin-top: 10%;
    margin-left: 29%;
    height: 30%;
    width: 70%;
}

#container-a {
    color: black;
    background-color: var(--left-inner-container);
    display: flex;
    margin-top: 20%;
    padding-top: 5%;
    height: 30%;
    width: 98%;
    justify-content: space-evenly;
}

#container-b {
    background-color: var(--left-inner-container);
    color: black;
    display: flex;
    margin-top: 20%;
    margin-left: 40%;
    height: 20%;
    width: 50%;
}

/* Right Container */

#right-container {
    background-color: var(--right-container);
    color: white;

}

#right-top-container {
    background-color: var(--right-top-container);
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 65%;
    height: 40%;
    width: 30%;
}

#right-middle-container {
    background-color: var(--right-top-container);
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 0%;
    height: 5%;
    width: 80%;
}

#right-bottom-container {
    background-color: var(--right-top-container);
    padding-left: 5%;
    margin-top: 8%;
    margin-left: 5%;
    height: 32%;
    width: 30%;
}

#container-c {
    background-color: var(--right-inner-container);
    color: black;
    display: flex;
    margin-top: 20%;
    margin-left: 20%;
    padding-bottom: 50%;
    height: 20%;
    width: 50%;
}

#container-d {
    background-color: var(--right-inner-container);
    color: black;
    display: inline-block;
    padding-left: 60%;
}

#container-e {
    background-color: var(--right-inner-container);
    color: black;
    display: inline-block;
    margin-top: 0%;
    margin-left: 20%;
    padding-bottom: 50%;
    padding-left: 40%;
    height: 20%;
    width: 50%;
}
